@import "mixins/all";

.list {
    padding: 8px 0;
    font-size: 16px;

    > * {
        display: block;
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
        color: @black;
        text-decoration: none;
    }

    &.iconic {
        > * {
            padding-left: 72px;
            position: relative;

            .material-icons {
                .resize(40px);
                text-align: center;
                line-height: 40px;
                position: absolute;
                top: 50%;
                .transform(~"translateY(-50%)");
                left: 16px;
                color: @dark-gray;
            }
        }
    }
}