<section class="dark">
    <div class="card" ng-if="ctrl.debtsPos.length">
        <h3>Dettes</h3>
        <div class="list avatar two-line" debts="ctrl.debtsPos"></div>
    </div>
    <div class="card" ng-if="ctrl.debtsNeg.length">
        <h3>Créances</h3>
        <div class="list avatar two-line" debts="ctrl.debtsNeg"></div>
    </div>
    <div class="card" ng-if="!ctrl.debts.length">
        <div class="media" style="background-image: url('img/chill.png')"></div>
        <h3>Félicitations</h3>
        <p>Les bons comptes font les bon amis, vous ne devez d'argent à personne et personne ne vous doit rien !</p>
    </div>
</section>