<section>
    <div class="field">
        <button class="input has-floating" user-picker ng-model="ctrl.expense.payer"></button>
        <label class="floating">Qui paye ?</label>
    </div>

    <div class="field">
        <input class="has-floating" ng-model="ctrl.expense.title">
        <label class="floating">Quoi ?</label>
    </div>

    <div class="field">
        <input class="has-floating" ng-model="ctrl.expense.amount">
        <label class="floating">Combien ?</label>
    </div>

    <div class="field">
        <button class="input has-floating" user-picker ng-model="ctrl.expense.recipients"></button>
        <label class="floating">Pour qui ?</label>
    </div>
</section>
