<section>
    <div class="field">
        <button class="input has-floating" user-picker ng-model="ctrl.expense.payer" required></button>
        <label class="floating">Qui paye ?</label>
        <div class="error" ng-bind="ctrl.errors.payer"></div>
    </div>

    <div class="field">
        <input class="has-floating" ng-model="ctrl.expense.title" required>
        <label class="floating">Quoi ?</label>
        <div class="error" ng-bind="ctrl.errors.title"></div>
    </div>

    <div class="field">
        <input class="has-floating" ng-model="ctrl.expense.amount" required>
        <label class="floating">Combien ?</label>
        <div class="error" ng-bind="ctrl.errors.amount"></div>
    </div>

    <div class="field">
        <button class="input has-floating" user-picker ng-model="ctrl.expense.recipients" required></button>
        <label class="floating">Pour qui ?</label>
        <div class="error" ng-bind="ctrl.errors.recipients"></div>
    </div>
</section>
