<div ng-repeat="debt in debts" toggle="timelineVisible">
    <div picture="debt.user"></div>
    <div class="secondary-action">
        {{ Math.abs(debt.amount) | currency : '€' }}
        <i class="material-icons" toggle="menuVisible" ng-click="$event.stopPropagation()">
            more_vert
            <div class="menu-dismiss" hide="!menuVisible"></div>
            <div class="menu hidden" hide="!menuVisible">
                <a ng-if="debt.amount > 0">
                    <i class="material-icons">undo</i>
                    Rembourser
                </a>
                <a ng-if="debt.amount < 0">
                    <i class="material-icons">redo</i>
                    Encaisser
                </a>
            </div>
        </i>
    </div>
    {{ debt.user.name }}
    <small>{{ debt.expenses.length }} dépenses</small>
    <div class="time-line" ng-click="$event.stopPropagation()" slide="!timelineVisible">
        <div ng-repeat="expense in debt.expenses">
            {{ expense.title }}
            <small>{{ expense.date|date }}</small>
        </div>
    </div>
</div>