<nav class="toolbar" hide="ctrl.toolbarHidden">
    <button class="material-icons" hide="!ctrl.backHidden" toggle="ctrl.sidebarHidden">menu</button>
    <button class="material-icons back" hide="ctrl.backHidden" ng-click="ctrl.back()">arrow_back</button>
    <button class="material-icons valid" hide="ctrl.validHidden" ng-click="ctrl.valid()">check</button>
    {{ ctrl.title }}

    <a class="btn floating hidden" ng-class="{lift:!ctrl.snackbarHidden}" hide="ctrl.addBtnHidden" ng-click="ctrl.add()">
        <i class="material-icons">add</i>
    </a>
</nav>

<div class="sidebar-dismiss" hide="ctrl.sidebarHidden" ng-click="ctrl.sidebarHidden = true"></div>
<div class="sidebar" hide="ctrl.sidebarHidden">
    <div class="list iconic" ng-click="ctrl.sidebarHidden = true">
        <a ui-sref="debts">
            <i class="material-icons">account_balance_wallet</i>
            Dettes
        </a>
        <a ui-sref="expenses">
            <i class="material-icons">access_time</i>
            Historique
        </a>
    </div>
</div>

<div class="snackbar hidden" hide="ctrl.snackbarHidden">
    {{ ctrl.snackbarMessage }}
</div>