<a class="chip" ng-repeat="user in ctrl.selected | orderBy : 'name'">
    <div picture="user"></div>
    {{ user.name }}
</a>

<div class="dialog-dismiss hidden" hide="ctrl.dialogHidden" ng-click="ctrl.dialogHidden = true;$event.stopPropagation()"></div>
<div class="dialog top hidden" hide="ctrl.dialogHidden">
    <input ng-model="filter" placeholder="Rechercher..." class="input" ng-show="ctrl.users.length > 5">

    <div class="suggestions-container">
        <div class="suggestion" ng-repeat="user in ctrl.user_suggestions" ng-click="ctrl.select(user)">
            <div picture="user" active="ctrl.isSelected(user)"></div>
        </div>
    </div>

    <div class="content" ng-class="{overflow:ctrl.users.length > 5}">
        <a class="chip" active="ctrl.isSelected(user)" ng-repeat="user in ctrl.users | filter:{name:filter} | orderBy : mostRecent : false" ng-click="ctrl.select(user)">
            <div picture="user"></div>
            {{ user.name }}
        </a>
    </div>

    <div class="actions">
        <a class="btn primary" ng-click="ctrl.dialogHidden = true;$event.stopPropagation()">OK</a>
    </div>
</div>
