<div class="dialog-dismiss"></div>
<div class="dialog">
    <h3>Title super long de la mort qui tue</h3>
    <div class="content overflow">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus orci et ante scelerisque scelerisque.
            Sed elit dolor, semper non porttitor nec, pharetra vel erat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus orci et ante scelerisque scelerisque.
            Sed elit dolor, semper non porttitor nec, pharetra vel erat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus orci et ante scelerisque scelerisque.
            Sed elit dolor, semper non porttitor nec, pharetra vel erat.</p>
    </div>
    <div class="actions">
        <a class="btn">Cancel</a>
        <a class="btn">OK</a>
    </div>
</div>
