<a class="chip" ng-repeat="user in ctrl.selected">
    <div picture="user"></div>
    {{ user.name }}
</a>

<div class="dialog-dismiss" hide="ctrl.dialogHidden" ng-click="ctrl.dialogHidden = true;$event.stopPropagation()"></div>
<div class="dialog top" hide="ctrl.dialogHidden">
    <input ng-model="filter" placeholder="Rechercher..." class="input">

    <div class="content overflow">
        <a class="chip" active="ctrl.isSelected(user)" ng-repeat="user in ctrl.users | filter:{name:filter}" ng-click="ctrl.select(user)">
            <div picture="user"></div>
            {{ user.name }}
        </a>
    </div>

    <div class="actions">
        <a class="btn primary" ng-click="ctrl.dialogHidden = true;$event.stopPropagation()">OK</a>
    </div>
</div>
